:root {
  /* Фон */
  --bg: #0a1030;
  --panel: #0d1440;
  --panel-alt: #1f3a92;
  --code-bg: #0e1a4d;

  /* Текст */
  --text-main: #d6ecff;
  --text-soft: #a9dcff;
  --title: #78c7ff;

  /* Акценти */
  --accent: #4fa7ff; /* Блакитний */
  --accent-pop: #ffcc00; /* Жовтий */
  --accent-red: #ff4757; /* Червоний */

  /* Ефекти */
  --shadow-accent: rgba(79, 167, 255, 0.4);
  --title-glow: rgba(120, 199, 255, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 20px;
  background-color: var(--bg);
  color: var(--text-main);
  font-family: Arial, sans-serif;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header h1 {
  margin-top: 25px;
  margin-bottom: 35px;

  font-family: "Press Start 2P", cursive;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;

  color: var(--accent-pop);
  text-shadow: 4px 4px 0px #ff4757;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;

  font-family: "Press Start 2P", cursive;
  font-size: 18px;

  color: var(--accent);
  text-shadow: 0 0 5px var(--shadow-accent);
}

/* Контейнер героїв */
.heroes {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap; /* Щоб переносились на мобільному */
}

/* Картинки */
img {
  height: 190px;
  width: auto;
  object-fit: cover; /* Важливо: не дає картинці сплющитись */

  border: 5px solid var(--panel-alt);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}

img:hover {
  transform: translateY(-5px);
  border-color: var(--accent-pop);
  box-shadow: 0 0 20px var(--accent-pop);
}

/* Кнопки */
button {
  padding: 15px 20px;
  margin: 5px;

  background: linear-gradient(180deg, #4fa7ff 0%, #2e86de 100%);
  color: white;
  font-size: 15px;

  border: none;
  border-bottom: 5px solid #174982;
  border-radius: 10px;

  cursor: pointer;
  transition: all 0.1s;
  text-shadow: 1px 1px 0 #000;
}

button:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
}

button:active {
  border-bottom: 0px solid transparent; /* transparent щоб не стрибало */
  transform: translateY(5px);
}

/* Результат (Консоль) */
#result {
  min-height: 120px;
  padding: 15px;

  font-family: monospace;
  font-size: 15px;
  white-space: pre-wrap;
  letter-spacing: 1px;

  background: var(--code-bg);
  color: var(--text-main);

  border: 3px solid var(--accent);
  border-radius: 10px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
}

@media (min-width: 601px) and (max-width: 900px) {
  img {
    height: 170px;
  }
}

@media (max-width: 600px) {
  body {
    padding-bottom: 30px;
    line-height: 1.5;
  }

  img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  button {
    width: 100%;
  }

  #result {
    min-height: 200px;
  }
}
